# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.venv/
venv/
dist/
build/

# VS Code
.vscode/
.idea/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# OS
.DS_Store
Thumbs.db

# Backend Data
backend/data/
backend/*.db