__pycache__/
*.py[cod]
*.db
backend/focusai.db
backend/data/
.env
.venv/
venv/
app_flutter/.dart_tool/
app_flutter/build/
backend/models
backend/requirements.txt
backend/.python-version
backend/models
backend/layers
backend/services