# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.venv/
venv/
dist/
build/

# IDE
.vscode/
.idea/

# Flutter Generated
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.metadata
pubspec.lock

# Flutter Platforms (optional keep only android + ios)
app_flutter/linux/
app_flutter/macos/
app_flutter/windows/
app_flutter/web/

# OS
.DS_Store
Thumbs.db

# Backend runtime data
backend/data/
backend/*.db
backend/.python-version